
// Import resets
@import "recipes/normalize-scss/normalize";

// Bring on the Bourbon, Neat, Bitters, Chasers, and Garnish it
@import "recipes/bourbon/app/assets/stylesheets/bourbon";
@import "recipes/neat/app/assets/stylesheets/neat";
@import "ingredients/topshelf/topshelf"; //Top Shelf is where we import Bitters and Grid Variables. Refills can also be enabled for global use here.
@import "recipes/chasers/src/chasers";
@import "recipes/garnish/src/garnish";

/* CONFIGURABLES:
neat/settings/_visual-grid.scss - visual grid appearance & on/off
ingredients/topshelf/_grid_variables.scss - grid settings override
*/



// Import Ingredients - Our main stylesheets + repeated styles used for sections
@import "ingredients/ambiance";
@import "ingredients/structure";
@import "ingredients/sidebar";
//@import "ingredients/header";



// Import Specials - our individual page styles;
@import "specials/index";