/*====================================
Ambiance (colors, links, branding, etc)
====================================*/

/*------------------
COLORS/TEXT/LINKS
------------------*/

$main: #FBFCFC;
$main-dark: #BDC3C7;
$base-font-color: #333;
$link: #E74C3C;
$hover: #D14233;

a:link { color:$link; text-decoration: none; }
a:visited {color:$link;}
a:hover {color:$hover;}
a:active {color:$link;}


$sans-serif: “HelveticaNeue”, “Helvetica Neue”, Helvetica, 'Trebuchet MS', Tahoma, Arial, sans-serif;
$serif: Garamond, "Adobe Garamond Pro", "Hoefler Text", Palatino, Georgia, serif;

