/*---------------------
BODY/CONTAINER
----------------------*/

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: $base-font-color;
  font-family: $helvetica;
  font-size: 16px;
	@include texture(180deg, white, $main, 6, 0); 
}

body, html {
  height: 100%;
}

#wrapper {
	@include outer-container();
	margin-top: 30px;
}

.container {
  @include span-columns(12);
  @include outer-pad();
}

header.sidebar {
	position: fixed;
	top: 30px;
	width: 200px;
}

main {
	@include outer-container();
	@include span-columns(9);
	@include shift(3);
}