/*---------------------
BODY/CONTAINER
----------------------*/

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: $base-font-color;
  font-family: $helvetica;
  font-size: 16px;
}

body, html {
  height: 100%;
}

#wrapper {
  @include outer-container(); //Make sure you include the #wrapper on your page to throw that thing on a grid

  //If you want your padding to be the same as the gutter %, you can use padding: flex-gutter();

}

.container {
  @include span-columns(12);
  @include outer-pad();
}
