//Import css/scss files for icons

//FontAwesome - include any other sets below, make sure to include the font folder and declare the font
@import "../../recipes/fontawesome/scss/_variables.scss";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

//Font awesome is our default icon set, but you can also define custom types below as the third option
//    for example: ('name' '\1ABC' 'myiconset'); -- this will be set as the font-family value.
$iconset: FontAwesome;


//Icons can be used in button mixin or used to insert icon into a pseudo element
//EX: @include insert-icon('ambulance', before);

$icons: ("adjust" "\f042" $iconset),
("adn" "\f170" $iconset),
("align-center" "\f037" $iconset),
("align-justify" "\f039" $iconset),
("align-left" "\f036" $iconset),
("align-right" "\f038" $iconset),
("ambulance" "\f0f9" $iconset),
("anchor" "\f13d" $iconset),
("android" "\f17b" $iconset),
("angellist" "\f209" $iconset),
("angle-double-down" "\f103" $iconset),
("angle-double-left" "\f100" $iconset),
("angle-double-right" "\f101" $iconset),
("angle-double-up" "\f102" $iconset),
("angle-down" "\f107" $iconset),
("angle-left" "\f104" $iconset),
("angle-right" "\f105" $iconset),
("angle-up" "\f106" $iconset),
("apple" "\f179" $iconset),
("archive" "\f187" $iconset),
("area-chart" "\f1fe" $iconset),
("arrow-circle-down" "\f0ab" $iconset),
("arrow-circle-left" "\f0a8" $iconset),
("arrow-circle-o-down" "\f01a" $iconset),
("arrow-circle-o-left" "\f190" $iconset),
("arrow-circle-o-right" "\f18e" $iconset),
("arrow-circle-o-up" "\f01b" $iconset),
("arrow-circle-right" "\f0a9" $iconset),
("arrow-circle-up" "\f0aa" $iconset),
("arrow-down" "\f063" $iconset),
("arrow-left" "\f060" $iconset),
("arrow-right" "\f061" $iconset),
("arrow-up" "\f062" $iconset),
("arrows" "\f047" $iconset),
("arrows-alt" "\f0b2" $iconset),
("arrows-h" "\f07e" $iconset),
("arrows-v" "\f07d" $iconset),
("asterisk" "\f069" $iconset),
("at" "\f1fa" $iconset),
("automobile" "\f1b9" $iconset),
("backward" "\f04a" $iconset),
("ban" "\f05e" $iconset),
("bank" "\f19c" $iconset),
("bar-chart" "\f080" $iconset),
("bar-chart-o" "\f080" $iconset),
("barcode" "\f02a" $iconset),
("bars" "\f0c9" $iconset),
("bed" "\f236" $iconset),
("beer" "\f0fc" $iconset),
("behance" "\f1b4" $iconset),
("behance-square" "\f1b5" $iconset),
("bell" "\f0f3" $iconset),
("bell-o" "\f0a2" $iconset),
("bell-slash" "\f1f6" $iconset),
("bell-slash-o" "\f1f7" $iconset),
("bicycle" "\f206" $iconset),
("binoculars" "\f1e5" $iconset),
("birthday-cake" "\f1fd" $iconset),
("bitbucket" "\f171" $iconset),
("bitbucket-square" "\f172" $iconset),
("bitcoin" "\f15a" $iconset),
("bold" "\f032" $iconset),
("bolt" "\f0e7" $iconset),
("bomb" "\f1e2" $iconset),
("book" "\f02d" $iconset),
("bookmark" "\f02e" $iconset),
("bookmark-o" "\f097" $iconset),
("briefcase" "\f0b1" $iconset),
("btc" "\f15a" $iconset),
("bug" "\f188" $iconset),
("building" "\f1ad" $iconset),
("building-o" "\f0f7" $iconset),
("bullhorn" "\f0a1" $iconset),
("bullseye" "\f140" $iconset),
("bus" "\f207" $iconset),
("buysellads" "\f20d" $iconset),
("cab" "\f1ba" $iconset),
("calculator" "\f1ec" $iconset),
("calendar" "\f073" $iconset),
("calendar-o" "\f133" $iconset),
("camera" "\f030" $iconset),
("camera-retro" "\f083" $iconset),
("car" "\f1b9" $iconset),
("caret-down" "\f0d7" $iconset),
("caret-left" "\f0d9" $iconset),
("caret-right" "\f0da" $iconset),
("caret-square-o-down" "\f150" $iconset),
("caret-square-o-left" "\f191" $iconset),
("caret-square-o-right" "\f152" $iconset),
("caret-square-o-up" "\f151" $iconset),
("caret-up" "\f0d8" $iconset),
("cart-arrow-down" "\f218" $iconset),
("cart-plus" "\f217" $iconset),
("cc" "\f20a" $iconset),
("cc-amex" "\f1f3" $iconset),
("cc-discover" "\f1f2" $iconset),
("cc-mastercard" "\f1f1" $iconset),
("cc-paypal" "\f1f4" $iconset),
("cc-stripe" "\f1f5" $iconset),
("cc-visa" "\f1f0" $iconset),
("certificate" "\f0a3" $iconset),
("chain" "\f0c1" $iconset),
("chain-broken" "\f127" $iconset),
("check" "\f00c" $iconset),
("check-circle" "\f058" $iconset),
("check-circle-o" "\f05d" $iconset),
("check-square" "\f14a" $iconset),
("check-square-o" "\f046" $iconset),
("chevron-circle-down" "\f13a" $iconset),
("chevron-circle-left" "\f137" $iconset),
("chevron-circle-right" "\f138" $iconset),
("chevron-circle-up" "\f139" $iconset),
("chevron-down" "\f078" $iconset),
("chevron-left" "\f053" $iconset),
("chevron-right" "\f054" $iconset),
("chevron-up" "\f077" $iconset),
("child" "\f1ae" $iconset),
("circle" "\f111" $iconset),
("circle-o" "\f10c" $iconset),
("circle-o-notch" "\f1ce" $iconset),
("circle-thin" "\f1db" $iconset),
("clipboard" "\f0ea" $iconset),
("clock-o" "\f017" $iconset),
("close" "\f00d" $iconset),
("cloud" "\f0c2" $iconset),
("cloud-download" "\f0ed" $iconset),
("cloud-upload" "\f0ee" $iconset),
("cny" "\f157" $iconset),
("code" "\f121" $iconset),
("code-fork" "\f126" $iconset),
("codepen" "\f1cb" $iconset),
("coffee" "\f0f4" $iconset),
("cog" "\f013" $iconset),
("cogs" "\f085" $iconset),
("columns" "\f0db" $iconset),
("comment" "\f075" $iconset),
("comment-o" "\f0e5" $iconset),
("comments" "\f086" $iconset),
("comments-o" "\f0e6" $iconset),
("compass" "\f14e" $iconset),
("compress" "\f066" $iconset),
("connectdevelop" "\f20e" $iconset),
("copy" "\f0c5" $iconset),
("copyright" "\f1f9" $iconset),
("credit-card" "\f09d" $iconset),
("crop" "\f125" $iconset),
("crosshairs" "\f05b" $iconset),
("css3" "\f13c" $iconset),
("cube" "\f1b2" $iconset),
("cubes" "\f1b3" $iconset),
("cut" "\f0c4" $iconset),
("cutlery" "\f0f5" $iconset),
("dashboard" "\f0e4" $iconset),
("dashcube" "\f210" $iconset),
("database" "\f1c0" $iconset),
("dedent" "\f03b" $iconset),
("delicious" "\f1a5" $iconset),
("desktop" "\f108" $iconset),
("deviantart" "\f1bd" $iconset),
("diamond" "\f219" $iconset),
("digg" "\f1a6" $iconset),
("dollar" "\f155" $iconset),
("dot-circle-o" "\f192" $iconset),
("download" "\f019" $iconset),
("dribbble" "\f17d" $iconset),
("dropbox" "\f16b" $iconset),
("drupal" "\f1a9" $iconset),
("edit" "\f044" $iconset),
("eject" "\f052" $iconset),
("ellipsis-h" "\f141" $iconset),
("ellipsis-v" "\f142" $iconset),
("empire" "\f1d1" $iconset),
("envelope" "\f0e0" $iconset),
("envelope-o" "\f003" $iconset),
("envelope-square" "\f199" $iconset),
("eraser" "\f12d" $iconset),
("eur" "\f153" $iconset),
("euro" "\f153" $iconset),
("exchange" "\f0ec" $iconset),
("exclamation" "\f12a" $iconset),
("exclamation-circle" "\f06a" $iconset),
("exclamation-triangle" "\f071" $iconset),
("expand" "\f065" $iconset),
("external-link" "\f08e" $iconset),
("external-link-square" "\f14c" $iconset),
("eye" "\f06e" $iconset),
("eye-slash" "\f070" $iconset),
("eyedropper" "\f1fb" $iconset),
("facebook" "\f09a" $iconset),
("facebook-f" "\f09a" $iconset),
("facebook-official" "\f230" $iconset),
("facebook-square" "\f082" $iconset),
("fast-backward" "\f049" $iconset),
("fast-forward" "\f050" $iconset),
("fax" "\f1ac" $iconset),
("female" "\f182" $iconset),
("fighter-jet" "\f0fb" $iconset),
("file" "\f15b" $iconset),
("file-archive-o" "\f1c6" $iconset),
("file-audio-o" "\f1c7" $iconset),
("file-code-o" "\f1c9" $iconset),
("file-excel-o" "\f1c3" $iconset),
("file-image-o" "\f1c5" $iconset),
("file-movie-o" "\f1c8" $iconset),
("file-o" "\f016" $iconset),
("file-pdf-o" "\f1c1" $iconset),
("file-photo-o" "\f1c5" $iconset),
("file-picture-o" "\f1c5" $iconset),
("file-powerpoint-o" "\f1c4" $iconset),
("file-sound-o" "\f1c7" $iconset),
("file-text" "\f15c" $iconset),
("file-text-o" "\f0f6" $iconset),
("file-video-o" "\f1c8" $iconset),
("file-word-o" "\f1c2" $iconset),
("file-zip-o" "\f1c6" $iconset),
("files-o" "\f0c5" $iconset),
("film" "\f008" $iconset),
("filter" "\f0b0" $iconset),
("fire" "\f06d" $iconset),
("fire-extinguisher" "\f134" $iconset),
("flag" "\f024" $iconset),
("flag-checkered" "\f11e" $iconset),
("flag-o" "\f11d" $iconset),
("flash" "\f0e7" $iconset),
("flask" "\f0c3" $iconset),
("flickr" "\f16e" $iconset),
("floppy-o" "\f0c7" $iconset),
("folder" "\f07b" $iconset),
("folder-o" "\f114" $iconset),
("folder-open" "\f07c" $iconset),
("folder-open-o" "\f115" $iconset),
("font" "\f031" $iconset),
("forumbee" "\f211" $iconset),
("forward" "\f04e" $iconset),
("foursquare" "\f180" $iconset),
("frown-o" "\f119" $iconset),
("futbol-o" "\f1e3" $iconset),
("gamepad" "\f11b" $iconset),
("gavel" "\f0e3" $iconset),
("gbp" "\f154" $iconset),
("ge" "\f1d1" $iconset),
("gear" "\f013" $iconset),
("gears" "\f085" $iconset),
("genderless" "\f1db" $iconset),
("gift" "\f06b" $iconset),
("git" "\f1d3" $iconset),
("git-square" "\f1d2" $iconset),
("github" "\f09b" $iconset),
("github-alt" "\f113" $iconset),
("github-square" "\f092" $iconset),
("gittip" "\f184" $iconset),
("glass" "\f000" $iconset),
("globe" "\f0ac" $iconset),
("google" "\f1a0" $iconset),
("google-plus" "\f0d5" $iconset),
("google-plus-square" "\f0d4" $iconset),
("google-wallet" "\f1ee" $iconset),
("graduation-cap" "\f19d" $iconset),
("gratipay" "\f184" $iconset),
("group" "\f0c0" $iconset),
("h-square" "\f0fd" $iconset),
("hacker-news" "\f1d4" $iconset),
("hand-o-down" "\f0a7" $iconset),
("hand-o-left" "\f0a5" $iconset),
("hand-o-right" "\f0a4" $iconset),
("hand-o-up" "\f0a6" $iconset),
("hdd-o" "\f0a0" $iconset),
("header" "\f1dc" $iconset),
("headphones" "\f025" $iconset),
("heart" "\f004" $iconset),
("heart-o" "\f08a" $iconset),
("heartbeat" "\f21e" $iconset),
("history" "\f1da" $iconset),
("home" "\f015" $iconset),
("hospital-o" "\f0f8" $iconset),
("hotel" "\f236" $iconset),
("html5" "\f13b" $iconset),
("ils" "\f20b" $iconset),
("image" "\f03e" $iconset),
("inbox" "\f01c" $iconset),
("indent" "\f03c" $iconset),
("info" "\f129" $iconset),
("info-circle" "\f05a" $iconset),
("inr" "\f156" $iconset),
("instagram" "\f16d" $iconset),
("institution" "\f19c" $iconset),
("ioxhost" "\f208" $iconset),
("italic" "\f033" $iconset),
("joomla" "\f1aa" $iconset),
("jpy" "\f157" $iconset),
("jsfiddle" "\f1cc" $iconset),
("key" "\f084" $iconset),
("keyboard-o" "\f11c" $iconset),
("krw" "\f159" $iconset),
("language" "\f1ab" $iconset),
("laptop" "\f109" $iconset),
("lastfm" "\f202" $iconset),
("lastfm-square" "\f203" $iconset),
("leaf" "\f06c" $iconset),
("leanpub" "\f212" $iconset),
("legal" "\f0e3" $iconset),
("lemon-o" "\f094" $iconset),
("level-down" "\f149" $iconset),
("level-up" "\f148" $iconset),
("life-bouy" "\f1cd" $iconset),
("life-buoy" "\f1cd" $iconset),
("life-ring" "\f1cd" $iconset),
("life-saver" "\f1cd" $iconset),
("lightbulb-o" "\f0eb" $iconset),
("line-chart" "\f201" $iconset),
("link" "\f0c1" $iconset),
("linkedin" "\f0e1" $iconset),
("linkedin-square" "\f08c" $iconset),
("linux" "\f17c" $iconset),
("list" "\f03a" $iconset),
("list-alt" "\f022" $iconset),
("list-ol" "\f0cb" $iconset),
("list-ul" "\f0ca" $iconset),
("location-arrow" "\f124" $iconset),
("lock" "\f023" $iconset),
("long-arrow-down" "\f175" $iconset),
("long-arrow-left" "\f177" $iconset),
("long-arrow-right" "\f178" $iconset),
("long-arrow-up" "\f176" $iconset),
("magic" "\f0d0" $iconset),
("magnet" "\f076" $iconset),
("mail-forward" "\f064" $iconset),
("mail-reply" "\f112" $iconset),
("mail-reply-all" "\f122" $iconset),
("male" "\f183" $iconset),
("map-marker" "\f041" $iconset),
("mars" "\f222" $iconset),
("mars-double" "\f227" $iconset),
("mars-stroke" "\f229" $iconset),
("mars-stroke-h" "\f22b" $iconset),
("mars-stroke-v" "\f22a" $iconset),
("maxcdn" "\f136" $iconset),
("meanpath" "\f20c" $iconset),
("medium" "\f23a" $iconset),
("medkit" "\f0fa" $iconset),
("meh-o" "\f11a" $iconset),
("mercury" "\f223" $iconset),
("microphone" "\f130" $iconset),
("microphone-slash" "\f131" $iconset),
("minus" "\f068" $iconset),
("minus-circle" "\f056" $iconset),
("minus-square" "\f146" $iconset),
("minus-square-o" "\f147" $iconset),
("mobile" "\f10b" $iconset),
("mobile-phone" "\f10b" $iconset),
("money" "\f0d6" $iconset),
("moon-o" "\f186" $iconset),
("mortar-board" "\f19d" $iconset),
("motorcycle" "\f21c" $iconset),
("music" "\f001" $iconset),
("navicon" "\f0c9" $iconset),
("neuter" "\f22c" $iconset),
("newspaper-o" "\f1ea" $iconset),
("openid" "\f19b" $iconset),
("outdent" "\f03b" $iconset),
("pagelines" "\f18c" $iconset),
("paint-brush" "\f1fc" $iconset),
("paper-plane" "\f1d8" $iconset),
("paper-plane-o" "\f1d9" $iconset),
("paperclip" "\f0c6" $iconset),
("paragraph" "\f1dd" $iconset),
("paste" "\f0ea" $iconset),
("pause" "\f04c" $iconset),
("paw" "\f1b0" $iconset),
("paypal" "\f1ed" $iconset),
("pencil" "\f040" $iconset),
("pencil-square" "\f14b" $iconset),
("pencil-square-o" "\f044" $iconset),
("phone" "\f095" $iconset),
("phone-square" "\f098" $iconset),
("photo" "\f03e" $iconset),
("picture-o" "\f03e" $iconset),
("pie-chart" "\f200" $iconset),
("pied-piper" "\f1a7" $iconset),
("pied-piper-alt" "\f1a8" $iconset),
("pinterest" "\f0d2" $iconset),
("pinterest-p" "\f231" $iconset),
("pinterest-square" "\f0d3" $iconset),
("plane" "\f072" $iconset),
("play" "\f04b" $iconset),
("play-circle" "\f144" $iconset),
("play-circle-o" "\f01d" $iconset),
("plug" "\f1e6" $iconset),
("plus" "\f067" $iconset),
("plus-circle" "\f055" $iconset),
("plus-square" "\f0fe" $iconset),
("plus-square-o" "\f196" $iconset),
("power-off" "\f011" $iconset),
("print" "\f02f" $iconset),
("puzzle-piece" "\f12e" $iconset),
("qq" "\f1d6" $iconset),
("qrcode" "\f029" $iconset),
("question" "\f128" $iconset),
("question-circle" "\f059" $iconset),
("quote-left" "\f10d" $iconset),
("quote-right" "\f10e" $iconset),
("ra" "\f1d0" $iconset),
("random" "\f074" $iconset),
("rebel" "\f1d0" $iconset),
("recycle" "\f1b8" $iconset),
("reddit" "\f1a1" $iconset),
("reddit-square" "\f1a2" $iconset),
("refresh" "\f021" $iconset),
("remove" "\f00d" $iconset),
("renren" "\f18b" $iconset),
("reorder" "\f0c9" $iconset),
("repeat" "\f01e" $iconset),
("reply" "\f112" $iconset),
("reply-all" "\f122" $iconset),
("retweet" "\f079" $iconset),
("rmb" "\f157" $iconset),
("road" "\f018" $iconset),
("rocket" "\f135" $iconset),
("rotate-left" "\f0e2" $iconset),
("rotate-right" "\f01e" $iconset),
("rouble" "\f158" $iconset),
("rss" "\f09e" $iconset),
("rss-square" "\f143" $iconset),
("rub" "\f158" $iconset),
("ruble" "\f158" $iconset),
("rupee" "\f156" $iconset),
("save" "\f0c7" $iconset),
("scissors" "\f0c4" $iconset),
("search" "\f002" $iconset),
("search-minus" "\f010" $iconset),
("search-plus" "\f00e" $iconset),
("sellsy" "\f213" $iconset),
("send" "\f1d8" $iconset),
("send-o" "\f1d9" $iconset),
("server" "\f233" $iconset),
("share" "\f064" $iconset),
("share-alt" "\f1e0" $iconset),
("share-alt-square" "\f1e1" $iconset),
("share-square" "\f14d" $iconset),
("share-square-o" "\f045" $iconset),
("shekel" "\f20b" $iconset),
("sheqel" "\f20b" $iconset),
("shield" "\f132" $iconset),
("ship" "\f21a" $iconset),
("shirtsinbulk" "\f214" $iconset),
("shopping-cart" "\f07a" $iconset),
("sign-in" "\f090" $iconset),
("sign-out" "\f08b" $iconset),
("signal" "\f012" $iconset),
("simplybuilt" "\f215" $iconset),
("sitemap" "\f0e8" $iconset),
("skyatlas" "\f216" $iconset),
("skype" "\f17e" $iconset),
("slack" "\f198" $iconset),
("sliders" "\f1de" $iconset),
("slideshare" "\f1e7" $iconset),
("smile-o" "\f118" $iconset),
("soccer-ball-o" "\f1e3" $iconset),
("sort" "\f0dc" $iconset),
("sort-alpha-asc" "\f15d" $iconset),
("sort-alpha-desc" "\f15e" $iconset),
("sort-amount-asc" "\f160" $iconset),
("sort-amount-desc" "\f161" $iconset),
("sort-asc" "\f0de" $iconset),
("sort-desc" "\f0dd" $iconset),
("sort-down" "\f0dd" $iconset),
("sort-numeric-asc" "\f162" $iconset),
("sort-numeric-desc" "\f163" $iconset),
("sort-up" "\f0de" $iconset),
("soundcloud" "\f1be" $iconset),
("space-shuttle" "\f197" $iconset),
("spinner" "\f110" $iconset),
("spoon" "\f1b1" $iconset),
("spotify" "\f1bc" $iconset),
("square" "\f0c8" $iconset),
("square-o" "\f096" $iconset),
("stack-exchange" "\f18d" $iconset),
("stack-overflow" "\f16c" $iconset),
("star" "\f005" $iconset),
("star-half" "\f089" $iconset),
("star-half-empty" "\f123" $iconset),
("star-half-full" "\f123" $iconset),
("star-half-o" "\f123" $iconset),
("star-o" "\f006" $iconset),
("steam" "\f1b6" $iconset),
("steam-square" "\f1b7" $iconset),
("step-backward" "\f048" $iconset),
("step-forward" "\f051" $iconset),
("stethoscope" "\f0f1" $iconset),
("stop" "\f04d" $iconset),
("street-view" "\f21d" $iconset),
("strikethrough" "\f0cc" $iconset),
("stumbleupon" "\f1a4" $iconset),
("stumbleupon-circle" "\f1a3" $iconset),
("subscript" "\f12c" $iconset),
("subway" "\f239" $iconset),
("suitcase" "\f0f2" $iconset),
("sun-o" "\f185" $iconset),
("superscript" "\f12b" $iconset),
("support" "\f1cd" $iconset),
("table" "\f0ce" $iconset),
("tablet" "\f10a" $iconset),
("tachometer" "\f0e4" $iconset),
("tag" "\f02b" $iconset),
("tags" "\f02c" $iconset),
("tasks" "\f0ae" $iconset),
("taxi" "\f1ba" $iconset),
("tencent-weibo" "\f1d5" $iconset),
("terminal" "\f120" $iconset),
("text-height" "\f034" $iconset),
("text-width" "\f035" $iconset),
("th" "\f00a" $iconset),
("th-large" "\f009" $iconset),
("th-list" "\f00b" $iconset),
("thumb-tack" "\f08d" $iconset),
("thumbs-down" "\f165" $iconset),
("thumbs-o-down" "\f088" $iconset),
("thumbs-o-up" "\f087" $iconset),
("thumbs-up" "\f164" $iconset),
("ticket" "\f145" $iconset),
("times" "\f00d" $iconset),
("times-circle" "\f057" $iconset),
("times-circle-o" "\f05c" $iconset),
("tint" "\f043" $iconset),
("toggle-down" "\f150" $iconset),
("toggle-left" "\f191" $iconset),
("toggle-off" "\f204" $iconset),
("toggle-on" "\f205" $iconset),
("toggle-right" "\f152" $iconset),
("toggle-up" "\f151" $iconset),
("train" "\f238" $iconset),
("transgender" "\f224" $iconset),
("transgender-alt" "\f225" $iconset),
("trash" "\f1f8" $iconset),
("trash-o" "\f014" $iconset),
("tree" "\f1bb" $iconset),
("trello" "\f181" $iconset),
("trophy" "\f091" $iconset),
("truck" "\f0d1" $iconset),
("try" "\f195" $iconset),
("tty" "\f1e4" $iconset),
("tumblr" "\f173" $iconset),
("tumblr-square" "\f174" $iconset),
("turkish-lira" "\f195" $iconset),
("twitch" "\f1e8" $iconset),
("twitter" "\f099" $iconset),
("twitter-square" "\f081" $iconset),
("umbrella" "\f0e9" $iconset),
("underline" "\f0cd" $iconset),
("undo" "\f0e2" $iconset),
("university" "\f19c" $iconset),
("unlink" "\f127" $iconset),
("unlock" "\f09c" $iconset),
("unlock-alt" "\f13e" $iconset),
("unsorted" "\f0dc" $iconset),
("upload" "\f093" $iconset),
("usd" "\f155" $iconset),
("user" "\f007" $iconset),
("user-md" "\f0f0" $iconset),
("user-plus" "\f234" $iconset),
("user-secret" "\f21b" $iconset),
("user-times" "\f235" $iconset),
("users" "\f0c0" $iconset),
("venus" "\f221" $iconset),
("venus-double" "\f226" $iconset),
("venus-mars" "\f228" $iconset),
("viacoin" "\f237" $iconset),
("video-camera" "\f03d" $iconset),
("vimeo-square" "\f194" $iconset),
("vine" "\f1ca" $iconset),
("vk" "\f189" $iconset),
("volume-down" "\f027" $iconset),
("volume-off" "\f026" $iconset),
("volume-up" "\f028" $iconset),
("warning" "\f071" $iconset),
("wechat" "\f1d7" $iconset),
("weibo" "\f18a" $iconset),
("weixin" "\f1d7" $iconset),
("whatsapp" "\f232" $iconset),
("wheelchair" "\f193" $iconset),
("wifi" "\f1eb" $iconset),
("windows" "\f17a" $iconset),
("won" "\f159" $iconset),
("wordpress" "\f19a" $iconset),
("wrench" "\f0ad" $iconset),
("xing" "\f168" $iconset),
("xing-square" "\f169" $iconset),
("yahoo" "\f19e" $iconset),
("yelp" "\f1e9" $iconset),
("yen" "\f157" $iconset),
("youtube" "\f167" $iconset),
("youtube-play" "\f16a" $iconset),
("youtube-square" "\f166" $iconset);

@mixin insert-icon ($icon: none, $pseudo: before) {

  @each $thing in $icons {
    @if nth($thing, 1) == $icon {

      position: relative;

      &:before, &:after {
        position: absolute;
        top:0;
        left:0;
        font-family: nth($thing, 3);
      }

      @if $pseudo == before {
        &:before {
          content: nth($thing, 2);
        }
      }

      @else if $pseudo == after {
        &:after {
          content: nth($thing, 2);
        }
    }


    }

  }

}