{% block title %}404 - Cannot locate page{% endblock %}
{% block content %}

<div class="container">
	
	<h2><span class="brown">404! You have been cut off!</span></h2><br>
	<h4><p class="red">Cannot find the page you are looking for...</span> 
	</h4>
	
	<h4>Look in the address bar to see if you mistyped something.</a></h4>
	
	<br>
	
</div>

{% endblock %}