{% block title %} Aaron Griffin - Web Developer - Louisville, Ky {% endblock %}

{% block content %}

<!-- TODO: Code basic layout without styles -->

<div id="wrapper">

	<header class="sidebar">

		<h1>
			<a href="/">
				<img src="/assets/images/logo.png" />
				Aaron Griffin
			</a>
		</h1>

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/portfolio/">Portfolio</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>

	</header>

	<main>
		<h2>Welcome</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare urna at tortor dignissim, nec tincidunt leo varius. Nullam facilisis accumsan erat, id venenatis ante fermentum et. Curabitur sit amet lorem arcu. Proin vulputate blandit dui vel iaculis. Praesent non pharetra lacus. Vestibulum vitae pharetra eros, nec facilisis metus. Vivamus vitae ligula sed nisi elementum vulputate id eu urna. Morbi laoreet elementum facilisis. Phasellus dui nisl, lobortis a consequat eget, elementum in lectus. Nunc fringilla odio in massa facilisis aliquam. Etiam et rhoncus enim. Nullam posuere arcu lacus, eget bibendum turpis semper at. Nullam eget sollicitudin lorem. Sed nibh nunc, aliquet mattis nisi in, auctor elementum est.</p>
		<p>Aliquam tincidunt at ligula vitae mattis. Sed sed sagittis arcu. Fusce eros leo, tempus vitae facilisis vestibulum, volutpat quis sapien. Nulla in mi nec sapien ullamcorper porta nec egestas dui. Donec ut sollicitudin nulla. Phasellus dignissim erat vitae sapien sollicitudin condimentum. Suspendisse auctor a odio a tempus. Proin egestas enim id dictum gravida. Cras at sagittis massa. Fusce est velit, efficitur eu laoreet et, accumsan ut lectus.</p>
		<p>Curabitur at leo ac turpis aliquam convallis. Fusce mi augue, posuere sed rutrum at, elementum quis lorem. Quisque interdum, mauris eget condimentum malesuada, risus lacus aliquet tellus, id accumsan mauris lorem eget felis. Nulla eros dolor, placerat vitae luctus non, efficitur quis velit. Cras tortor orci, tincidunt ac porttitor ac, pellentesque nec odio. Vivamus eget egestas ipsum. Mauris at lacinia magna. Fusce vitae ex non nisl suscipit efficitur eget at ligula. Nunc faucibus consectetur tellus nec aliquam. Mauris pulvinar purus ac eleifend fringilla. Duis feugiat orci vel cursus sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris turpis quam, tempor ut eros eu, varius faucibus massa.</p>
		<p>Nunc ligula tellus, imperdiet non augue at, mollis efficitur arcu. Cras interdum eros erat, at eleifend ante egestas ut. Morbi consectetur, leo ac dignissim fringilla, nulla massa faucibus justo, at vestibulum dolor enim et est. Proin commodo urna non lacus luctus, eget tristique ante efficitur. Donec tincidunt nec purus ut mattis. Vestibulum luctus sem sit amet elementum placerat. Morbi auctor, dolor non cursus laoreet, eros tellus bibendum tellus, hendrerit ullamcorper risus arcu vel enim. Maecenas convallis magna eget ipsum maximus, sed porta urna ornare. Vivamus vitae urna interdum, maximus sem non, feugiat enim. Nulla faucibus nec nulla egestas mollis. Vivamus molestie tortor non est pellentesque, id sodales ligula malesuada. Phasellus id ullamcorper nibh. Duis ut lacus ac nibh blandit tincidunt at nec augue. Aenean non leo sed tortor feugiat rutrum. Curabitur a velit dapibus, ornare diam sed, mollis massa.</p>
		<p>Nunc ligula tellus, imperdiet non augue at, mollis efficitur arcu. Cras interdum eros erat, at eleifend ante egestas ut. Morbi consectetur, leo ac dignissim fringilla, nulla massa faucibus justo, at vestibulum dolor enim et est. Proin commodo urna non lacus luctus, eget tristique ante efficitur. Donec tincidunt nec purus ut mattis. Vestibulum luctus sem sit amet elementum placerat. Morbi auctor, dolor non cursus laoreet, eros tellus bibendum tellus, hendrerit ullamcorper risus arcu vel enim. Maecenas convallis magna eget ipsum maximus, sed porta urna ornare. Vivamus vitae urna interdum, maximus sem non, feugiat enim. Nulla faucibus nec nulla egestas mollis. Vivamus molestie tortor non est pellentesque, id sodales ligula malesuada. Phasellus id ullamcorper nibh. Duis ut lacus ac nibh blandit tincidunt at nec augue. Aenean non leo sed tortor feugiat rutrum. Curabitur a velit dapibus, ornare diam sed, mollis massa.</p>
		<p>Nunc ligula tellus, imperdiet non augue at, mollis efficitur arcu. Cras interdum eros erat, at eleifend ante egestas ut. Morbi consectetur, leo ac dignissim fringilla, nulla massa faucibus justo, at vestibulum dolor enim et est. Proin commodo urna non lacus luctus, eget tristique ante efficitur. Donec tincidunt nec purus ut mattis. Vestibulum luctus sem sit amet elementum placerat. Morbi auctor, dolor non cursus laoreet, eros tellus bibendum tellus, hendrerit ullamcorper risus arcu vel enim. Maecenas convallis magna eget ipsum maximus, sed porta urna ornare. Vivamus vitae urna interdum, maximus sem non, feugiat enim. Nulla faucibus nec nulla egestas mollis. Vivamus molestie tortor non est pellentesque, id sodales ligula malesuada. Phasellus id ullamcorper nibh. Duis ut lacus ac nibh blandit tincidunt at nec augue. Aenean non leo sed tortor feugiat rutrum. Curabitur a velit dapibus, ornare diam sed, mollis massa.</p>
		<p>Nunc ligula tellus, imperdiet non augue at, mollis efficitur arcu. Cras interdum eros erat, at eleifend ante egestas ut. Morbi consectetur, leo ac dignissim fringilla, nulla massa faucibus justo, at vestibulum dolor enim et est. Proin commodo urna non lacus luctus, eget tristique ante efficitur. Donec tincidunt nec purus ut mattis. Vestibulum luctus sem sit amet elementum placerat. Morbi auctor, dolor non cursus laoreet, eros tellus bibendum tellus, hendrerit ullamcorper risus arcu vel enim. Maecenas convallis magna eget ipsum maximus, sed porta urna ornare. Vivamus vitae urna interdum, maximus sem non, feugiat enim. Nulla faucibus nec nulla egestas mollis. Vivamus molestie tortor non est pellentesque, id sodales ligula malesuada. Phasellus id ullamcorper nibh. Duis ut lacus ac nibh blandit tincidunt at nec augue. Aenean non leo sed tortor feugiat rutrum. Curabitur a velit dapibus, ornare diam sed, mollis massa.</p>
	</main>

</div>

{% endblock %}

{% block footer %}



{% endblock %}